<ion-tabs class="  tabs-icon-top tabs-background-stable tabs-color-royal-900" data-ink-opacity=".35" >
	<ion-tab class="hide menu-about_us" title="Tentang Kami"  ui-sref="dei_verbum.about_us"  >
		<ion-nav-view animation="none" name="dei_verbum-about_us"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-dashboard" title="Dashboard"  ui-sref="dei_verbum.dashboard"  >
		<ion-nav-view animation="none" name="dei_verbum-dashboard"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-main" title="Komunitas Dei Verbum"  ui-sref="dei_verbum.main"  >
		<ion-nav-view animation="none" name="dei_verbum-main"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-slide_tab_menu" title="Menu"  ui-sref="dei_verbum.slide_tab_menu"  >
		<ion-nav-view animation="none" name="dei_verbum-slide_tab_menu"></ion-nav-view>
	</ion-tab>
</ion-tabs>
